<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TubeKatch: Youtube Downloader</title>

    <link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <nav>
        <div id="navbar-header">
            <a href="#">
                <img id="navbar-icon" src="tubekatch.png" alt="navbar logo">
                <h1>
                    TubeKatch
                </h1>

            </a>
        </div>
        <ul>
            <li>
                <a href="">
                   About

               </a>
            </li>
            <li>
                <a href="">
                    How to use

                </a>
            </li>
        </ul>
    </nav>
    <div class="container">
        <div class="wrapper">
            <h3> Enter Youtube Video Link</h3>
            <form>
                <input id="url-link" placeholder='Enter the link to youtube video here'>
                <button id="get-video-details">Fetch Video</button>
            </form>
            <div class="load">
                <div class="loader"></div>
                <div>
                    Processing the provided youtube link
                </div>
            </div>


            <!--Video Data will be hidden until after the data is fetched-->
            <div class="video-data animate-bottom">
                <div class='img-container'>
                    <img id="thumbnail">
                </div>
                <div id="video-details">
                    <p id="video-title"></p>
                    <p id="video-time"></p>

                    <div id="controls">
                        <select id="video-format"></select>
                        <button id="download">Download Now</button>
                    </div>
                    <div>
                    </div>
                    <div class="trim-func">
                        <div class="trim-check-section">
                            <input type="checkbox" id="accept"> Trim?
                        </div>
                        <div class="trim-time-section">
                            <div class="start">
                                <div>Start:</div>
                                <div class="start-time">
                                    <input class="time" type="number" placeholder="00" min="00" max="99" id="starthr">
                                    <div class="seperator">:</div>
                                    <input class="time" type="number" placeholder="00" min="00" max="59" id="startmin">
                                    <div class="seperator">:</div>
                                    <input class="time" type="number" placeholder="00" min="00" max="59" id="startsec">
                                </div>
                            </div>
                            <div class="end">
                                <div>End:</div>
                                <div class="end-time">
                                    <input class="time" type="number" placeholder="00" min="0" max="99" id="endhr">
                                    <div class="seperator">:</div>
                                    <input class="time" type="number" placeholder="00" min="0" max="60" id="endmin">
                                    <div class="seperator">:</div>
                                    <input class="time" type="number" placeholder="00" min="0" max="60" id="endsec">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="about">
                <h3>About TubeKatch?</h3>
                <p>Online Video Downloader developed by Tomi. It's an excellent service that helps to download online youtube videos free of charge. It also allows you trim for sections of a youtube video you need.
                </p>
            </div>
            <div class="how-to">
                <h3>How to use?</h3>
                <ol>
                    <li>Copy the necessary URL to the input field on the top of the page and press Enter or click the "Fetch Video" button next to the input field and wait for the fetch request to complete.</li>
                    <li>Choose video quality from dropdown.</li>
                    <li>Click the download Now button to download full video. OR </li>
                    <li>Use Trim functionality by clicking the check box to activate.</li>
                    <li>Input start time and end time that correspond with the timeframe you want to crop.</li>
                    <li>Click the downdown now button to download the cropped video</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="footer">
        &copy; TubeKatch.com
        <p>Developed by Tomi
            <a href="Tomi.dev">view portfolio</a>
        </p>

    </div>

    <script src="js/timeInput.js"></script>
    <script src="js/fetchVid.js"></script>
    <script src="js/download.js"></script>
</body>

</html>